@page "/AxesY"

<Card>
    <ChildContent>
        <div class="card">
            <div class="chart">
                <BcChart @ref="@bcChart" Height="400" Width="600" Data="DemoData.Githubs" CategoryField="x=>x.Year.ToString()">
                    <BcTitle Title="Y轴基本使用" TData="Github"></BcTitle>
                    <BcAxesY TData="Github" UnitsMajor="@unitsMajor" UnitsMinor="@unitsMinor"
                             GridLineMajor="@gridLineMajor" GridLineMinor="@gridLineMinor"
                             DistanceAxis="@distanceAxis" LabelPosition="@labelPosition"
                             Visible="@visible"></BcAxesY>


                    <BcAxesY TData="Github" Visible="@visibleSecondary" IsSecondaryAxis="true"></BcAxesY>
                    <BcColumnSeries TData="Github" ValueFunc="x=>x.Sum(y=>y.View)" GroupName="View"></BcColumnSeries>
                    <BcColumnSeries TData="Github" ValueFunc="x=>x.Sum(y=>y.Start)" GroupName="Start"></BcColumnSeries>
                    <BcLineSeries TData="Github" ValueFunc="x=>x.Sum(y=>y.Fork)" GroupName="Fork" IsSecondaryAxis="true"></BcLineSeries>
                </BcChart>
            </div>
            <div class="prop">
                <Divider Text="刻度线" Orientation="left"></Divider>
                <span>主要：</span><Checkbox @bind-Value="@gridLineMajor">网格线</Checkbox><span>单位：</span><InputNumber @bind-Value="@unitsMajor"></InputNumber>
                <span style="width:30px"></span>
                <span>次要：</span><Checkbox @bind-Value="@gridLineMinor">网格线</Checkbox><span>单位：</span><InputNumber @bind-Value="@unitsMinor"></InputNumber>

                <Divider Text="与坐标轴的距离" Orientation="left"></Divider>
                <InputNumber @bind-Value="@distanceAxis"></InputNumber>

                <Divider Text="标签位置" Orientation="left"></Divider>
                <RadioGroup @bind-Value="@labelPosition">
                    <Radio Value="AxesLabelPosition.Axis">轴旁</Radio>
                    <Radio Value="AxesLabelPosition.None">无</Radio>
                </RadioGroup>

                <Divider Text="显示/隐藏轴" Orientation="left"></Divider>
                <Checkbox @bind-Value="@visible">主要</Checkbox>
                <Checkbox @bind-Value="@visibleSecondary">次要</Checkbox>

                <Divider></Divider>
                <Button Type="primary" OnClick="OnClick">应用</Button>
            </div>
        </div>
    </ChildContent>
</Card>

<ApiTable Component="typeof(BcAxesY<object>)"></ApiTable>

@code{

    double? unitsMajor;

    double? unitsMinor;

    bool gridLineMajor = true;

    bool gridLineMinor = false;

    int? distanceAxis;

    bool visible = true;

    bool visibleSecondary = true;

    AxesLabelPosition labelPosition = AxesLabelPosition.Axis;

    BcChart<Github> bcChart;

    public void OnClick()
    {
        bcChart.Repaint();
    }

}
